<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Parcel Tracking System</h1>

</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<%= link_to 'New Consignment', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'Consignment List', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'Consignment Management', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'User Management', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'Pickup Schedules', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'Delivery Schedules', new_consignment_path, class: "btn btn-success" %>
<%= link_to 'Tracking', track_consignment_path, class: "btn btn-success" %>
</div>