<%= bootstrap_form_with(model: consignment, local: true) do |form| %>
  <% if consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
        <% consignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= form.select(:source_city, options_for_select(@servicelocations  ), prompt: "Please Select" ) %>
      <%= form.select(:destination_city, options_for_select(@servicelocations  ), prompt: "Please Select") %>
    <%= form.text_field :weight, class: "form-control" %>
    <%= form.text_field :source_contact, class: "form-control"  %>
    <%= form.text_field :destination_contact, class: "form-control" %>
    <%= form.submit "Submit", class: "btn btn-primary" %>

<% end %>
