<%= form_with(model: consignment, local: true) do |form| %>
  <% if consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
        <% consignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= form.label :destination_pin %>
    <%= form.select(:destination_pin, options_for_select(@servicelocations  ), prompt: "Please Select") %>
  </div>

  <div class="field">
    <%= form.label :source_pin %>
    <%= form.select(:source_pin, options_for_select(@servicelocations  ), prompt: "Please Select") %>
  </div>
  <div class="field">
  <%= form.datetime_select(:schedule_pickup) %>
  </div>
  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :source_contact %>
    <%= form.text_field :source_contact %>
  </div>

  <div class="field">
    <%= form.label :destination_contact %>
    <%= form.text_field :destination_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
