<%= form_with(model: @consignment, local: true) do |form| %>
  <% if @consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
        <% @consignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, :value => @consignment.status%>
  </div>
  <div class="field">
    <%= form.label :current_location %>
    <%= form.number_field :current_location, :value => @consignment.current_location%>
  </div>
  <div class="field">
    <%= form.label :next_location %>
    <%= form.number_field :next_location, :value => @consignment.next_location%>
  </div>

  <div class="actions">
    <%= form.submit @buttontext %>
  </div>
<% end %>
