<%= bootstrap_form_with(model: @consignment, local: true) do |form| %>
  <% if @consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

      <ul>
        <% @consignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :status, :value => @consignment.status%>
  </div>
  <% case @consignment.status 
         when  2 %>
        <div class="field">
        <%= form.number_field(:pickup_time) %>
        </div> 
        <% when 4 %>
          <div class="field">
          <%= form.text_field :current_city, :value => @consignment.current_city %>
        </div>
        <% when 5%>
        <div class="field">
          <%= form.text_field :current_city, :value => @consignment.current_city%>
        </div>
        <div class="field"> 
          <%= form.text_field :next_city, :value => @consignment.next_city %>
        </div>
  <% end %>

  <div class="actions">
    <%= form.submit @buttontext %>
  </div>
<% end %>
