<p id="notice" > <%= notice  %></p>
<h1>Consignments</h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>id</th>
      <th>Destination pin</th>
      <th>Source pin</th>
      <th>Weight</th>
      <th>Tracking</th>
      <th>Source contact</th>
      <th>Destination contact</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.each do |consignment| %>
      <tr>
        <td><%= consignment.id %></td>
        <td><%= consignment.destination_pin %></td>
        <td><%= consignment.source_pin %></td>
        <td><%= consignment.weight %></td>
        <td><%= consignment.tracking_id %></td>
        <td><%= consignment.source_contact %></td>
        <td><%= consignment.destination_contact %></td>
        <% case consignment.status 
         when  1 %>   
        <td>Schedule Pending </td>
         <td><%= link_to 'Schedule Pickup', approve_consignment_path(consignment), class: "btn btn-primary btn-sm" %></td>
         <% when 2%>
          <td>Waiting for pickup </td>
         <td><%= link_to 'Confirm Pickup', approve_consignment_path(consignment), class: "btn btn-primary btn-sm" %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_consignment_path(consignment), class: "btn btn-secondary btn-sm"  %></td>
        <td><%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Consignment', new_consignment_path, class: "btn btn-success" %>
