<p id="notice"><%= notice %></p>


<p>
  <strong>Destination pin:</strong>
  <%= @consignment.destination_pin %>
</p>

<p>
  <strong>Source pin:</strong>
  <%= @consignment.source_pin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @consignment.status %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @consignment.weight %>
</p>

<p>
  <strong>Tracking:</strong>
  <%= @consignment.tracking_id %>
</p>

<p>
  <strong>Source contact:</strong>
  <%= @consignment.source_contact %>
</p>

<p>
  <strong>Destination contact:</strong>
  <%= @consignment.destination_contact %>
</p>

<strong> Tracking Status </strong>
<table border=1px>
<tbody>
<th > Sl</th>
  <th align="center"> Event Time</th>
  <th > Description</th>
<% i=0 %>
<% @History.each do |history| %>
  <% i= i+1 %>
  <tr>
    <td align="center"><%= i %></td>
    <td><%= history.created_at %></td>
    <td><%= history.event %></td>
   </tr>
<% end %>   
<% puts @History1 %>
</tbody>
</table>
<% if user_signed_in? %>
<%= link_to 'Back', consignments_path %>
<% end %>
